<table>
  <th>
    <td>Id</td>
    <td>Creation Time</td>
    <td>Side</td>
    <td>Symbol</td>
    <td>Quantity</td>
    <td>Placed</td>
    <td>Executed</td>
    <td>Limit Price</td>
    <td>Priority</td>
    <td>Status</td>
    <td>Trader</td>
  </th>
  <tr *ng-for="#trade of trades">
    <td>{{trade.id}}</td>
    <td>{{trade.creationTime}}</td>
    <td>{{trade.creationTime}}</td>
    <td>{{trade.side}}</td>
    <td>{{trade.symbol}}</td>
    <td>{{trade.quantity}}</td>
    <td>{{trade.placed}}</td>
    <td>{{trade.executed}}</td>
    <td>{{trade.limitPrice}}</td>
    <td>{{trade.priority}}</td>
    <td>{{trade.status}}</td>
    <td>{{trade.trader}}</td>
  </tr>
</table>
