.sass-cache
jspm_packages
node_modules
src/**/*.js
src/**/*.js.map
src/**/*.css
src/**/*.css.map
typings/**/*.js
typings/**/*.js.map
compiled
dist
sauce_connect.log
.idea
.DS_STORE
temp
npm-debug.log
.iml
trader-desktop-angular2.iml
