<table>
  <th>
    <td>Id</td>
    <td>Creation Time</td>
    <td>Side</td>
    <td>Symbol</td>
    <td>Quantity</td>
    <td>Placed</td>
    <td>Executed</td>
    <td>Limit Price</td>
    <td>Priority</td>
    <td>Status</td>
    <td>Trader</td>
  </th>
  <tr *ng-for="#order of orders">
    <td>{{order.id}}</td>
    <td>{{order.creationTime | datetime}}</td>
    <td>{{order.side}}</td>
    <td>{{order.symbol}}</td>
    <td>{{order.quantity}}</td>
    <td>{{order.quantityPlaced}}</td>
    <td>{{order.quantityExecuted}}</td>
    <td>{{order.limitPrice}}</td>
    <td>{{order.priority}}</td>
    <td>{{order.status}}</td>
    <td>{{order.traderId}}</td>
  </tr>
</table>
