<div>
  <div class="left">
    <button (click)="trade()">Trade</button>
    <button  (click)="deleteAll()">Delete All</button>
    <button (click)="refresh()">Refresh</button>
  </div>

  <div class="right">
    <button></button>
    <button></button>
  </div>
</div>
<modal
    title="Create Multiple Trades"
    [buttons]="getModalButtons()"
    [callback]="getModalCallback()"
    [hidden]="!modalVisible">
    <form>
        <label for="numberOfTrades">Enter number of trades</label>
        <input #numtrades type="text" name="numberOfTrades" id="numberOfTrades"/>
    </form>
</modal>
